body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #58666e;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    height: 100%;
}

html {
    background-color: #f0f3f4;
    height: 100%;
}

a {
    color: #363f44;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.b-b {
    border-bottom: 1px solid #dee5e7;
}

.app-header-fixed  {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

.navbar-brand {
    float: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 50px;
    display: inline-block;
    padding: 0 20px;
}

.active .nav-sub, .app-aside-folded li:hover .nav-sub, .app-aside-folded li:focus .nav-sub, .app-aside-folded li:active .nav-sub {
    opacity: 1;
    margin-left: 0;
    height: auto !important;
    overflow: auto;
}

.navi ul.nav li li a {
    padding-left: 55px;
}
.navi ul.nav li a {
    font-weight: normal;
    text-transform: none;
    display: block;
    padding: 10px 20px;
    position: relative;
    -webkit-transition: background-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s;
}

.nav-sub {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-left: -20px;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.bg-black .nav>li>a {
    color: #7ca1bb;
}
.bg-black a {
    color: #8dadc4;
}

.bg-black.dk, .bg-black .dk {
    background-color: #131e26;
}

.line {
    width: 100%;
    min-height: 2px;
    margin: 10px 0;
    font-size: 0;
    overflow: hidden;
}

.navi ul.nav li {
    display: block;
    position: relative;
}

.bg-info {
    background-color: #23b7e5;
    color: #d9f3fb;
}

.bg-black {
    background-color: #1c2b36;
    color: #6b94b3;
}

.bg-black .text-muted {
    color: #507b9b !important;
}

.bg-info .text-lt {
    color: #ffffff !important;
}

.bg-light {
    background-color: #edf1f2;
    color: #58666e;
}

.bg-light.lter, .bg-light .lter {
    background-color: #f6f8f8;
}

.wrapper-md {
    padding: 20px;
}


.wrapper {
    padding: 15px;
}

.padder {
    padding-left: 15px;
    padding-right: 15px;
}

.m-b-sm {
    margin-bottom: 10px;
}
.m-t {
    margin-top: 15px;
}

.app-content {
    height: 100%;
    top: 50px;
    position: relative;
    z-index: 0;
}

.app-content-body {
    padding-bottom: 50px;
    float: left;
    width: 100%;
    top: 50px;
}
.app-content:after {
     clear: both;
}

.app-content:before, .app-content:after {
    content: " ";
    display: table;
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

.hbox .col {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
}

.padding20 {
    padding: 20px;
}

.row-sm {
    margin-left: -10px;
    margin-right: -10px;
}

.padder-v {
    padding-top: 15px;
    padding-bottom: 15px;
}
.item {
    position: relative;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.font-thin {
    font-weight: 300;
}

.text-xs {
    font-size: 12px;
}

.w-full {
    width: 100%;
}

.item .top {
    position: absolute;
    top: 0;
    left: 0;
}

.m-r-sm {
    margin-right: 10px;
}

.text-warning {
    color: #fad733;
}

.bg-primary,
a.bg-info:hover {
    color: #fff;
    background-color: #428bca;
}


.bg-primary .text-muted {
    color: #d3cfea !important;
}

.bg-info,
a.bg-primary:hover {
    background-color: #23b7e5;
    color: #d9f3fb;
}

.text-white {
    color: #fff;
}

.text-xs {
    font-size: 12px;
}

.block {
    display: block;
}

h1, .h1 {
    font-size: 36px;
}

.box-shadow {
    box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
}
.bg-white-only {
    background-color: #fff;
}

.app-aside {
    position: relative;
    float: left;
    top: 50px;
}



.navbar {
    border: none;
}

/**
 optimize later for different screens
*/

.app-aside, .navbar-header {
    width: 200px;
    min-height: 100%;
}

.app-content, .app-footer {
    margin-left: 200px;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
    margin: 0;
    padding: 0;
}

/* Gradinet and Rounded Corners */
.graph-container, #tooltip, .graph-info a {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Graph Container */
.graph-container {
    position: relative;
    height: 193px;
    width: 100%;
}

.graph-container > div {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0px;
    left: 0;
}

.graph-info {
    margin-bottom: 10px;
}


#loading-bar .bar {
    position: fixed;
    top: 50px;
    left: 0px;
    height: 5px;
}


.symbb_flash_messages {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    width: 200px;
}

.symbb_flash_messages .alert {
    padding: 5px;
    margin-bottom: 0;
    border-radius: 0;
    text-align: center;
}

.symbb_flash_messages .close {
    line-height: 0.8;
}

.tree {
    margin-top: 10px;
}

.tree li {
    list-style-type:none;
    margin:0;
    position:relative;
    width: 100%;
}

.tree > ul {
    padding-left: 0;
}

.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:block;
    text-decoration:none;
    text-align: left;
    padding: 5px;
    margin: 5px;
}
.tree li .item {
    color: #000;
    font-size: 75%;
    font-weight: 700;
    vertical-align: baseline;
    height: 33px;
    line-height: 20px;
}

.tree li .item:hover {
    background-color: #999;
    color: #FFF;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.modal {
    top: 50px;
}

.table tfoot .pagination {
    margin: 0;
    float: right;
}


.forumtype-category.box,
.forumtype-forum.box,
.forumtype-link.box {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #000;
}

.forumtype-category, .angular-ui-tree-handle.category {
    background-color: #e7f4f9 !important;
}

.forumtype-forum, .angular-ui-tree-handle.forum {
    background-color: #FFF !important;
}

.forumtype-link, .angular-ui-tree-handle.link {
    background-color: #bdbdbd !important;
}