.symbb_breadcrumb a {
    color: #000;
    line-height: 20px;
    font-size: 11px;
}


.symbb_breadcrumb  {
    width: 100%;
    color: #000;
    padding: 10px;
}


.symbb_breadcrumb .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 5px;
}


.symbb_breadcrumb .navbar .container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.symbb_breadcrumb .navbar-brand {
    padding: 3px;
    padding-right: 5px;
    color: #000;
    line-height: initial;    
    margin-left: 0px !important;
    margin-top: 3px;
}

.symbb_breadcrumb .navbar-nav>li>a {
    padding: 5px;
    color: #000;
}

.symbb_breadcrumb .navbar-default {
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
}

.symbb_breadcrumb .navbar-nav>li>a:hover,
.symbb_breadcrumb .navbar-brand:hover {
    color: #000;
}

.symbb_breadcrumb .navbar {
    margin-bottom: 0;
    min-height: 10px;
    border-radius: 0;
    border: none;
}

.symbb_breadcrumb .navbar-nav>li>a{
    padding: 0.8em;
}


.symbb_breadcrumb li a .glyphicon {
    margin-left: 15px;
}

.symbb_breadcrumb .navbar-header {
    margin-top: 1px;
}

.symbb_breadcrumb .breadcrumb>.active {
    color: #000;
}