form button {
    margin-top: 5px;
}

form .options,
form .name {
    background-color: #EEEEEE;
    padding: 5px;
    border: 1px solid #CCC;
}

form .input-group .input-group-addon:first-child {
    min-width: 10em;
    text-align: left;
}

form label {
    margin-bottom: 0;   
}

form div .input-group {
    margin-bottom: 5px;
}

form div .input-group:last-child {
    margin-bottom: 0px;
}

form .form-control {
    min-width: 500px;
}

form .form-control[type="file"] {
    font-size: 12px;
}

form .panel-heading .nav-tabs.nav-justified {   
    margin-bottom: -11px;
}

form input[type="checkbox"] {
    margin-top: 10px;
}

form select {
    margin-top: 5px;
    margin-right: 5px;
}

form .btn {
    float: left;
    margin-right: 5px;
}

form .collection_item {
    
    margin-bottom: 5px;
    
}

form .collection_item.pull-left {
    
    margin-bottom: 5px;
    margin-right: 20px;
    
}


form .collection_item img {
    
    float: left;
    
}

form .collection_item.hidden {
    display: none;
}

form .collection_item .symbb_bbbcode_btn {
    cursor: pointer;
    margin-left: 5px;
}