.symbb_category {
    width: 25%;
    float: left;
    min-height: 190px;
    position: relative;
    margin-bottom: 10px;
    background-color: #FFF;
    color: #000;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.symbb_category .border {
    border: 1px solid #CCC;
    min-height: 190px;
}

.symbb_category .labels {
    min-height: 20px;
}

.symbb_category.post {
    min-height: 100px;
    margin-right: 0;
    width: 100%;
}

.symbb_category.post .border {
    min-height: 100px;
}

.symbb_category:hover{
    background-color: #EEE;
}

.symbb_category a,
.symbb_category a:link,
.symbb_category a:visited,
.symbb_category a:active {
    color: #000;
    text-decoration: none;
}

.symbb_category .title {
    font-weight: bold;
    padding: 20px;
    text-align: left;
    color: #000;
    padding-bottom: 5px;
}

.symbb_category .description {
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    padding-top: 0;
}

.symbb_category .subheader {
    clear: both;
    color: #AAA;
    font-size: 11px;
    margin-top: 5px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
}

.symbb_category .infos {
    padding: 20px;
    padding-top: 5px;
}

.symbb_category .infos .badge {
    margin-bottom: 2px;
}



.symbb_category .infos .more-infos {
}


.symbb_category .lastpost {
    height: 30px;
    overflow: hidden;
}
