.symbb_list .row.space {
    height: 14px;
}

.symbb_list .row.category {
    padding: 5px;
    color: #FFF;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(238,238,238,0.5);
    background-color: #428bca;
    border-color: #428bca;
}

.symbb_list .row.category {
    margin-top: 5px;
}

.symbb_list .row.forum, 
.symbb_list .row.subcategory, 
.symbb_list .row.topic {
    padding: 8px;
    margin-bottom: 1px;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    font-size: 12px;
    min-height: 50px;
}

.symbb_list .row.new {
    color: #31708f;
    background-color: #d9edf7;
}

.symbb_list .row .nameBlock .user,
.symbb_list .row .lastPostBlock .user,
.symbb_list .row .nameBlock .description {
    font-size: 11px;
    color: #2E5F75;
}

.symbb_list .row.category a, 
.symbb_list .row a,
.symbb_list .row.category .nameBlock .description {
    cursor: pointer;
    color: #FFF;
}

.symbb_list .row.forum a, 
.symbb_list .row.subcategory a, 
.symbb_list .row.topic a {
    cursor: pointer;
    color: #000;
}


.symbb_list .row.forum .description {
    font-size: 11px;
}

.symbb_list .row.forum .subForumList {
    float: left;
    font-size: 11px;
    margin-left: 20px;
    font-style: italic;
}


.symbb_list .row.forum:hover {
    background-color: #CCC;
}

.symbb_list .row.topic:hover {
    background-color: #CCC;
}

.symbb_list .row.topic:hover a {
    text-decoration: none;
}

.symbb_list .padding1em {
    padding: 14px;
}

.symbb_list .row {
    margin-left: 0;
    margin-right: 0;
}

.symbb_list .row .glyphicon {
    margin-right: 10px;
}

.symbb_list .row .name {
    margin-right: 7px;
    float: left;
}
.symbb_list .row .labels {
    float: right;
}


.symbb_list .row .user {
    clear: both;
}

.symbb_list .row.forum .subForumList
.symbb_list  .topicCountBlock ,
.symbb_list  .postCountBlock {
    text-align: right;
    font-size: 11px;
}