.symbb_category {
    
    width: 400px;
    float: left;
    min-height: 200px;
    border: 1px solid #CCC;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #FFF;
    color: #000;
    
}

.symbb_category:hover{
    background-color: #EEE;
}

.symbb_category a,
.symbb_category a:link,
.symbb_category a:visited,
.symbb_category a:active {
    color: #000;
    text-decoration: none;
}

.symbb_category .title {
    font-weight: bold;
    padding: 20px;
    text-align: left;
    color: #000;
    padding-bottom: 5px;
}

.symbb_category .description {
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    padding-top: 0;
}

.symbb_category .subheader {
    clear: both;
    color: #AAA;
    font-size: 11px;
    margin-top: 5px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
}

.symbb_category .infos {
    padding: 20px;
}

.symbb_category .infos .more-infos {
}


.symbb_category .lastpost {
    height: 30px;
    overflow: hidden;
}
