root, body, html { 
    display: block;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 100%;
    background-color: #CCC;
    background-image: url(/bundles/symbbtemplatesimple/images/bg/shattered.png)
}

.symbb_container {
    width: 95%;
    margin: 0px auto;
}

.symbb_content {
    margin-top: 50px;
}


.symbb_body .btn-group {
    margin-bottom: 0px;
}

.symbb_container .row {
    padding: 10px;
}
.symbb_body {
    margin-bottom: 60px;
    padding: 0px;
}

.symbb_body .alert {
    margin-top: 15px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.symbb_header_bg {
    border: 1px solid #ccc;
    color: #000;
    background-color: #F5F5F5;
    border-color: #CCC;
    border-radius: 3px 3px 0px 0px;
}

.f-right {
    float: right !important;
}

.f-left {
    float: left !important;
}

.clear {
    clear: both;
}

.fos_user_content {
    margin: 0 auto;
}

.m-top-1 {
    margin-top: 1em;
}

.symbb_user_panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #428BCA;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 1000;
    color: #FFF;
}

.symbb_user_panel .brand {
    float: left;
    height: 40px;
    padding: 12px;
    background-color: #428BCA;
}

.symbb_user_panel .arrow {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #428BCA;
    width: 0;
    height: 0;
    display: block;
    float: left;
}
.symbb_user_panel .content {
    background-color: #232323;
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 5px;
}

.avatar {
    float: left;
}

.avatar img {
    height: 150px;
    border: 1px solid #FFF;
}

.avatar_mini img {
    height: 32px;
    border: 1px solid #FFF;
}

.symbb_user_panel .content .username {
    float: left;
    margin-top: 8px;
    margin-left: 5px;
}

.symbb_user_panel .content .usermenu {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

.padding10 {
    padding: 10px;
}


.symbb_user_panel  .navbar {
    margin-bottom: 0;
    min-height: 10px;
    border-radius: 0;
    border: none;
    float: left;
}
.symbb_user_panel  .navbar .container{
    width: auto; 
}



.symbb_user_panel .navbar-nav>li>a {
    padding: 5px;
    margin: 0;
    border-right: 1px solid #FFF;
    color: #FFF;
}

.symbb_logo {
    background-image: url('/bundles/symbbtemplatesimple/images/logo_symbb.png');
    background-repeat: no-repeat;
    background-position: top center;
    height: 200px;
    width: 100%;
    background-size: 250px;
    position: absolute;
    top: 30px;
    left: 0;
}

.symbb_sidebar .padding10 {
    padding-top: 0px;
}

.symbb_sidebar {
    padding-right: 0px;
}

.symbb_actions {
    margin-bottom: 10px;
}

.breadcrumb {
    border-radius: 0;
    background-color: #FFF;
    font-size: 11px;
}

.footer {
    clear: both;
    background-color: #232323;
    margin-top: 5px;
    color: #FFF;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    
}

.footer .container {
    width: 95%;
    margin: 10px auto;
    padding-bottom: 5px;
}

.footer a {
    color: #FFF;
}

.footer ul {
    list-style: none;
    float: left;
    margin: 0;
    margin-right: 10px;
    border-left: 1px solid #CCC;
    padding: 0;
}

.footer ul li{
    margin-right: 10px;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.footer ul li:hover {
    background-color: #CCC;
    color: #000;
    cursor: pointer;
}

.page-header .pagination {
    margin: 0;
}

.page-header.mini {
    margin-top: 5px;
}

.page-header.mini.topics {
    line-height: 31px;
}

.page-header.mini .btn-group {
    margin-right: 5px;
}

.symbb_body .btn-default {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.spacer-bottom {
    margin-bottom: 20px;
}