.symbb_topic {
    margin-top: 5px;
    margin-bottom: 5px;
}

.symbb_topic .row.header,
.symbb_topic .row.subheader {
    padding: 5px;
    padding-top: 8px;
}



.symbb_topic .row.body {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    border: 1px solid #999;
    border-top: 0px;
    margin-top: 0px;
    clear: both;
}

.symbb_topic .symbb_action_row {
    margin-bottom: 0px;
    height: 43px;
}

.symbb_topic .symbb_action_row .title{
    width: 200px;
}

.symbb_topic .symbb_action_row .btn-group{
    margin-right: 5px;
}


.symbb_topic .row.body:last-child {
    margin-bottom: 20px;
}

.symbb_topic .textblock .text {
    padding-right: 20px;
}

.symbb_topic .date {
    color: #BBB;
    padding-top: 13px;
    padding-left: 10px;
    float: left;
}

.symbb_topic .row.signature {
    background-color: #EEE;
    padding: 0.3em;
    padding-top: 0.8em;
    margin-top: 1em;
    border-top: 1px solid #CCC;
}

.symbb_topic .avatar img {
    width: 150px;
    height: 150px;
}

.symbb_topic .like_dislike {
    margin-top: 1em;
    float: right;
}

.symbb_topic .like_img ,
.symbb_topic .dislike_img {
    display: inline;
    float: left;
    cursor: pointer;
}

.symbb_topic .like_count ,
.symbb_topic .dislike_count {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 0.5em;
    margin-right: 1em;
}

.symbb_topic .userblock {
    background-color: #428BCA;
    padding: 10px;
    width: 200px;
    color: #FFF;
    overflow: hidden;
    max-width: 200px;
}

.symbb_topic .textblock {
    width: auto;
}

.symbb_topic .userblock .username {
   font-size: 1em;
   font-weight: bold;
   text-decoration: underline;
   margin-top: 0.5em;
}

.symbb_topic .userblock .userdata .text {
   float: left;
}

.symbb_topic .userblock .userdata .data {
    margin-left: 8em;
}

.symbb_action_row.topic_start {
    margin-bottom: -26px;
}

.symbb_action_row.topic_end {
    margin-top: -21px;
}

.symbb_action_row.topic_start .title,
.symbb_action_row.topic_end .title{
    width: 200px;
}


.symbb_topic_bradcrumb .first{
    width: 200px;
}