.symbb_topic .symbb_action_row {
     border-bottom: 0px solid #FFF;
 }

.symbbForumRow {
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    margin-bottom: 5px;
    border:1px solid #CCC;
    box-shadow: 5px 5px 5px #BBBBBB;
}

.symbbForumRow:hover {
    background-color: #EEE;
}

.symbbForumSubrow {
    margin-left: 25px;
}



.symbbForumRow .forumimage {
    max-height: 64px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    color: #CCC;
    font-size:15px;
}

.symbbForumRow .infos {
    float: left;
    cursor: pointer;
}

.symbbForumRow .infos .name {
    float: left;
    font-weight: bold;
}

.symbbForumRow .infos .labels {
    float: left;
    margin-left: 10px;
}

.symbbForumRow .infos .description {
    font-size: 90%;
}


.symbbForumRow .alert {
    margin-top: 5px;
    margin-bottom: 5px;
}

.symbbForumRow .symbbTopicList {
    margin-top: 5px;
    font-size: 90%;
    padding: 5px;
    cursor: pointer;
}

.symbbForumRow .symbbTopicListLoading {
    background-image: url('/bundles/symbbtemplatedefault/images/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 32px;
}

.symbbForumRow .symbbTopicList .avatar_mini {
    margin-right: 5px;
}

.symbbForumRow .symbbTopicList .description  {
    float: left;
}

.symbbForumRow .symbbTopicList:hover {
    background-color: #FFF;
}

.symbb_view_menu {
    background-color: #000000;
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    color: #FFF;
    border-radius: 0px 0px 5px 5px;
}

.symbb_view_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.symbb_view_menu ul li {
    padding: 8px;
    margin: 0px;
    float: left;
}

.symbb_view_menu ul li:last-child {
    padding-top: 5px
}

.symbb_view_menu ul li:last-child input {
    width: 100%;
    padding: 3px;
    background-color: #EEE;
    border: 1px solid #CCC;
    color: #000000;
}