/* search bar */

.symbb_search_menu {
    margin-left: 50px;
}

.symbb_search_menu a {
    color: #FFFFFF;
    text-decoration: none;
}

.symbb_search_menu + .symbb_container {
    margin-top: 150px;
}

.symbb_search_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.symbb_search_menu ul li {
    padding: 10px 10px 8px 10px;
    margin: 0px;
    float: left;
    border-right: 1px solid #2B2B2B;
}
.symbb_search_menu ul li:hover {
    background-color: #006699;
}

.symbb_search_menu ul li:last-child {
    border-right: 0;
}

.symbb_search_menu ul li:last-child {
    padding-top: 5px
}

.symbb_search_menu ul li:last-child input {
    width: 300px;
    padding: 3px;
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #000000;
}
