{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ '::layout.html.twig' %}

{% block symbb_body %}

<div class="fos_message_content">
    {% block fos_message_content %}{% endblock %}
</div>

{% endblock %}