{% trans_default_domain "symbb_frontend" %}

<div ng-show="topic.access.createSurvey" class="symbb_tabcontent" data-tab="survey">
    <div class="panel panel-default">
        <div class="padding10">
            {{ form_row(form.mainPost.extensionSurvey) }}
        </div>
    </div>
</div>