<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex,nofollow"/>
    <title>503 - Wartung</title>
    <link href="/bundles/symbbtemplatedefault/css/exception.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body class="bg503">
<div class="code">
    503
</div>
<div class="message">
    Wartung
</div>
</body>
</html>