{% extends getSymbbTemplate('acp') ~ ':Acp:layout.html.twig' %}

{% trans_default_domain "symbb_frontend" %}

{% block symbb_body %}
    <div class="alert alert-success">
        {{ 'You will be redirected...'|trans }}
    </div>
    <script type="text/javascript">
        <
        !--
                window.location = "{{ path('_symbbcoresitebundle_site_list') }}";
        //–>
    </script>
{% endblock %}