{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <h1>{{ "Ups!"|trans }}</h1>
    <div class="alert alert-danger" role="alert">{{ 'resetting.password_already_requested'|trans }}</div>
{% endblock fos_user_content %}