{% extends getSymbbTemplate('acp') ~ ':Acp:layout.html.twig' %}

{% block symbb_sidebar %}

{% endblock %}

    
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@SymbbTemplateDefaultBundle/Resources/public/js/acp/sorting.js' filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    
{% block symbb_body %}

    <div class="page-header">
        {% block symbb_list_header %}{% endblock %}
    </div>

    <div class="table_overflow_fix">
        {% block symbb_list_table %}

        {% endblock %}
    </div>
{% endblock %}
