<ol class="breadcrumb">
    {% for item in breadcrumb %}
        {% spaceless %}
        {% if loop.last %}
            <li class="active"><a href="{{item.link}}">{{item.name}}</a></li>
        {% else %}
            <li><a href="{{item.link}}">{{item.name}}</a></li>
        {% endif %}
        {% endspaceless %}
    {% endfor %}
</ol>