{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':Forum:layout.html.twig' %}

{% block symbb_slider %}
{% endblock %} 

{% block symbb_body_container %}
    
    <div class="default-content">
        {% block symbb_body %}

        {% endblock %}
    </div>

{% endblock %}