{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':Forum:layout.html.twig' %}

{% block section_content %}
    <div class="alert alert-danger">{% trans %}Registration is currently closed.{% endtrans %}</div>
{% endblock %}

