{% trans_default_domain "symbb_frontend" %}
<div class="symbb_category_block">
    <a href="[[object.link]]" target="_blank">
        <div class="image" ng-style="object.backgroundImage != '' && {'background-image':'url('+object.backgroundImage+')'}">

        </div>
        <div class="text">
            <div class="infos">
                <div class="lastpost padding10">
                    <b>[[object.name]]</b>
                    <br/>
                    [[object.description]]
                </div>
            </div>
        </div>
    </a>
</div>
