{% trans_default_domain "symbb_frontend" %}
<a ng-transclude></a>
<div class="symbb_move_topic_dialog" style="display: none;" title="{{ 'Basic dialog'|trans }}">
    <div class="input-group">
        <select class="form-control">
            {% for id, name in getSymbbForumManager().getSelectList('forum') %}
                <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <button class="btn btn-success btn-xs btn-move">{{ 'move'|trans }}</button>
</div>