{% trans_default_domain "symbb_frontend" %}


{% extends getSymbbTemplate('forum') ~ ':Angular:Forum/layout.html.twig' %}

{% block section_content %}

<div class="symbbTopicList" ng-repeat="object in topicList[object.id]"  symbb-js-link="forum_topic_show" param-id="[[object.id]]" param-name="[[object.seo.name]]" param-page="1" >
    <div class="avatar_mini pull-left">
        <img ng-show="object.backgroundImage" ng-src="[[object.backgroundImage]]"/>
    </div>
    <div class="name" symbb-js-link="forum_topic_show" param-id="[[object.id]]" param-name="[[object.seo.name]]" param-page="1">
        [[object.name]]
        <div class="labels">
            <div ng-repeat="flag in object.flags">
                <span  class="label label-[[flag.type]]">[[flag.title]]</span>
            </div>
        </div>
    </div>
    <div class="description">
        [[object.author.username]]: {% trans with {'%date%': "[[ object.changed | date:'dd.MM.yyyy']]", '%time%': "[[ object.changed | date:'HH.mm']]"} %}on %date% at %time%{% endtrans %}
    </div>
    <div class="clear"></div>
</div>
<div ng-if="emptyTopicList[object.id] && topicListStatus[object.id] == true" class="alert alert-warning">
    {{ 'No Topics'|trans }}
</div>
<div ng-if="topicListLoading" class="symbbTopicListLoading"></div>

{% endblock %}