{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':Forum:layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    {% stylesheets 
        '@SymBBTemplateDefaultBundle/Resources/public/css/forum.css' filter='?yui_css'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
    

{% block symbb_body %}

    <div>
            
        <div class="anker-group">
            <div class="anker"></div>
        </div>
        <div class="symbb_action_row">
            <div class="title">{{"newsest Posts"|trans()}}</a></div>
            <div class="arrow"></div>
            <div class="clear"></div>
        </div>

        {% for post in posts %}

        {{ symbBBForumMacro.createPostCardFull(post, " col-lg-3 col-md-6 col-sm-12") }}

    {% endfor %}
        <div class="clear spacer-bottom"></div>
    </div>
    
    
    
{% endblock %}

