{% trans_default_domain "symbb_frontend" %}

{% if forum is not defined %}
    {% set forum = null %}
{% endif %} 
<div class="anker-group">
    <div class="anker" id="newest_posts"></div>
</div>
<div class="symbb_action_row">
    <div class="title"><a href="#newest_posts">{{ 'Newest Posts'|trans() }}</a></div>
    <div class="arrow"></div>
    <div class="clear"></div>
</div>

{% for post in getSymbbForumManager().findNewestPosts() %}

    {{ symbBBForumMacro.createPostCard(post) }}

{% endfor %}
