{% trans_default_domain "symbb_backend" %}

{% block body %}
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-md-12">
                <h1 class="m-n font-thin h3 text-black">{% block title %}{% endblock %}</h1>
                <small class="text-muted">{% block subtitle %}{% endblock %}</small>
            </div>
        </div>
    </div>
    <div class="padding20">
        {% block content %}{% endblock %}
    </div>
{% endblock %}