services:
    symbb.extension.usertag.post.parse.text:
        class: Symbb\Extension\UserTagBundle\EventListener\ParseListener
        arguments: ['@symbb.core.user.manager', '@router']
        tags:
            - { name: kernel.event_listener, event: symbb.post.manager.parse.text, method: parsePostText, priority: -10 }

            
            
            
            