.symbb_extension_scoutbox {
 margin-bottom: 20px;
}
.symbb_extension_scoutbox h3 {
    float: left;
}
.symbb_extension_scoutbox .refesh_options {
    float: right;
    padding-top: 3px;
}

.symbb_extension_scoutbox .refesh_options input {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.symbb_extension_scoutbox .shoutbox_row {
    margin-bottom: 5px;
}

.symbb_extension_scoutbox .shoutbox_content {
    overflow: hidden;
    overflow-y: scroll;
    height: 140px;
}

.symbb_extension_scoutbox .form-controll {
    float: left;
}

.symbb_extension_scoutbox {
    width: 100%;
    height: 250px;
}

.symbb_extension_scoutbox .panel-title {
    height: 27px;
    line-height: 27px;
}

.shoutbox_user {
    color: #CCC;
    display: block;
}

.shoutbox_text {
    border-bottom: 1px solid #CCC;
    display: block;
}

.shoutbox_input {
    margin-bottom: 5px;
}