{% trans_default_domain "symbb_frontend" %}
<div class="symbb_action_row">
    <pagination route="forum_search"></pagination>
</div>
<div class="symbb_search_post_block" ng-repeat="object in entries">
    <div class="avatar" symbb-js-link="forum_topic_show" param-id="[[object.topic.id]]" param-name="[[object.topic.seo.name]]" param-page="last">
        <img ng-src="[[object.author.avatar]]" />
    </div>
    <div class="infos">
        <symbb-breadcrumb-mini objectName="object"></symbb-breadcrumb-mini>
        <div class="date">
            <div class="labels">
                <span ng-repeat="flag in object.flags" class="label label-[[flag.type]]">[[flag.title]]</span>
            </div>
            {% trans with {'%date%': "[[ object.created | date:'dd.MM.yyyy']]", '%time%': "[[ object.created | date:'HH.mm']]"} %}on %date% at %time%{% endtrans %}
            <span ng-if="!object.showFullPostTextClass" class="glyphicon glyphicon-chevron-down" ng-click="object.showFullPostTextClass='full'"></span>
            <span ng-if="object.showFullPostTextClass" class="glyphicon glyphicon-chevron-up" ng-click="object.showFullPostTextClass=null"></span>
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="text" ng-class="object.showFullPostTextClass" symbb-js-link="forum_topic_show" param-id="[[object.topic.id]]" param-name="[[object.topic.seo.name]]" param-page="last">
            <blockquote ng-bind-html="object.text"></blockquote>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="symbb_action_row">
    <pagination route="forum_search"></pagination>
</div>
<div ng-hide="count.post">
    <div class="alert alert-warning">{% trans %}There are no entries.{% endtrans %}</div>
    <div class="clear"></div>
</div>