{% trans_default_domain "symbb_frontend" %}

<div ng-switch="currListView">
    <div ng-switch-when="table">
        {{ include('SymBBTemplateDefaultBundle:Angular:Forum/listTable.html.twig') }}
    </div>
        
    <div ng-switch-default>
        {{ include('SymBBTemplateDefaultBundle:Angular:Forum/listCard.html.twig') }}
    </div>
</div>
