
.symbb_post {
    background-color: #DDDFE3;
    margin-bottom: 20px;
    position: relative;
}

.symbb_post .row {
    padding: 0;
    position: relative;
}

.symbb_post .postbody {
    width: auto;
    float: none;
    background-color: #FAFAFA;
    padding: 20px;
    margin-right: 200px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    min-height: 300px;
}

.symbb_post .postbody .title {
    float: left;
    font-size: 150%;
}

.symbb_post .postbody .labels {
    float: left;
    margin-left: 10px;
}

.symbb_post .postbody .actions {
    float: right;
}

.symbb_post .postbody .date {
    font-size: 80%;
    float: left;
    color: #999999;
}

.symbb_post .postbody .text {
    margin-top: 20px;
    font-size: 120%;
}

.symbb_post .postbody .text img {
    max-width: 80%;
}


.symbb_post .postbody .breadcrumb_mini {
    font-size: 80%;
    float: left;
    opacity: 0.6;
}

.symbb_post .postprofile {
    width: 200px;
    float: right;
    padding: 20px 20px 0;
}

.symbb_post .signature {
    border-top: 1px solid #DDDFE3;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
}

.symbb_post .history {
    font-style: italic;
    font-size: 90%;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
}