{% trans_default_domain "symbb_frontend" %}

<div class="symbb_tabcontent" data-tab="calendar">
    <div class="panel panel-default">
        <div class="padding10">
            {{ form_rowbootstrap(form.calendarName) }}
            {{ form_rowbootstrap(form.calendarStartDate) }}
            {{ form_rowbootstrap(form.calendarEndDate) }}
            {{ form_rowbootstrap(form.calendarGroups) }}
        </div>
    </div>
</div>