<div class="survey" ng-show="post.extension.survey.question">
    <div class="answers" ng-show="post.access.viewSurvey">
            <ul class="list-group">
                <li class="list-group-item active">[[post.extension.survey.question]]</li>
                <li class="list-group-item" ng-repeat='answer in post.extension.survey.answersArray'>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="[[answer.percent]]" aria-valuemin="0" aria-valuemax="100" style="width: [[answer.percent]]%;">
                            <span class="sr-only">[[answer.percent]]% : [[answer.name]] </span>
                        </div>
                    </div>
                        <div class="answer">
                            <div class="animate-switch-container pull-left"  ng-switch on="answer.type">
                                <div class="animate-switch" ng-switch-when="checkbox">
                                    <input ng-show="post.extension.survey.votable" type="checkbox" ng-model="post.extension.survey.myVote[answer.key]" ng-checked="post.extension.survey.myVote[answer.key]"  name="surveyAnswer[]" ng-true-value="1" ng-false-value="0">
                                </div>
                                <div class="animate-switch" ng-switch-default>
                                    <input ng-show="post.extension.survey.votable" type="radio" ng-model="post.extension.survey.myVote" ng-value="answer.key" name="surveyAnswer">
                                </div>
                            </div>
                            <div class="pull-left">[[answer.name]] ( [[answer.percent]]% )</div>
                        </div>
                    <div class="clear"></div>
                </li>

                <li ng-show="post.extension.survey.votable" class="list-group-item">          
                    <button type="button" symbb-request="extension_survey_vote" param-items="[[ post.extension.survey.myVote ]]" param-post="[[post.id]]"  class="btn btn-default">{{ 'vote'|trans}}</button>
                    <div class="clear"></div>
                </li>
            </ul>
    </div>
</div>