<div class="survey" ng-show="post.extension.survey.question">
    
    <div class="answers">

            <ul class="list-group">
                <li class="list-group-item active">[[post.extension.survey.question]]</li>
                <div ng-repeat='answer in post.extension.survey.answersArray'>
 

                <li class="list-group-item">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="[[answer.percent]]" aria-valuemin="0" aria-valuemax="100" style="width: [[answer.percent]]%;">
                            <span class="sr-only">[[answer.percent]]% : [[answer.name]] </span>
                        </div>
                    </div>
                        <div class="answer">
                            <input ng-show="answer.votable" type="[[answer.type]]" name="surveyAnswer[]" value="[[answer.key]]">
                            [[answer.name]] ( [[answer.percent]]% )
                        </div>
                    <div class="clear"></div>
                </li>

                <li ng-show="answer.votable" class="list-group-item">                    
                    <button type="button"  class="btn btn-default">{{ 'vote'|trans}}</button>
                    <div class="clear"></div>
                </li>
            </ul>
    </div>

</div>