.symbb_editor textarea{
    width: 100%;
    min-height: 20em;
    border: 1px solid #CCC;
    padding: 5px;
}

.symbb_bbcodes {
    background-color: #F5F5F5;
    padding: 5px;
}
.symbb_bbcode_btn {
    background-color: #FFF;
    border: 1px solid #E4E4E4;
    text-align: center;
    float: left;
    padding: 3px;
    cursor: pointer;
}
.symbb_bbcodes_group .symbb_bbcode_btn:first-child {
    background-color: #FFF;
    border-radius: 3px 0 0 3px;
}

.symbb_bbcodes_group .symbb_bbcode_btn:last-child {
    background-color: #FFF;
    border-radius: 0 3px 3px 0;
}

.symbb_bbcodes_group .symbb_bbcode_btn:hover {
    background-color: #CCC;
}

.symbb_bbcodes_group {
    float: left;
    margin-right: 5px;
}

.symbb_bbcodes .symbb_bbcodes_group .btn {
    margin-right: 0;
}

.fontsize-verysmall {
    font-size: 60%;
}
.fontsize-small {
    font-size: 80%;
}
.fontsize-big {
    font-size: 120%;
}
.fontsize-verybig {
    font-size: 140%;
}

.preview {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 10px;
    margin-top: 5px;
    background-color: #EEE;
}