{% trans_default_domain "symbb_frontend" %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>{% block title %}Symbb Installer{% endblock %}</title>
        <meta http-equiv="Content-Language" content="{{ app.request.locale }}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    </head>

    <body>
        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Begin page content -->
            <div class="container">
                <div class="page-header">
                    <h1>Symbb Installation</h1>
                </div>

                {% for error in errors %}
                    
                    <div class="alert alert-danger">{{error|raw}}</div>
                    
                {% endfor %}
                    
                {% for info in output %}
                    
                    <div class="alert alert-info">{{info|raw}}</div>
                    
                {% endfor %}
                    
                {% block progress %}
                {% endblock %}

                {% block symbb_body %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>