{% extends getSymbbTemplate('forum') ~ ':Install:step_2.html.twig' %}

{% block progress %}

    <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
             style="width: 60%">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
{% endblock %}

{% block symbb_body %}

    {{ parent() }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Clear Cache </h3>
        </div>
        <div class="panel-body">
            {% if step == 3 %}
                <button type="button" class="btn btn-primary btn-sm"
                        onclick="window.location.href='{{ path('symbb_install_step', {'step': 4}) }}'">Clear Cache
                </button>
            {% else %}
                <button type="button" class="btn btn-default btn-sm">Clear Cache</button>
            {% endif %}
        </div>
    </div>
{% endblock %}