root, html, body { 
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.symbb_navi .navbar {
    background-color: #2C2C2C;
    color: #FFF;
    border: none;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
}
.symbb_navi .navbar-collapse {
    background-color: #2C2C2C;
}

.symbb_navi .navbar-toggle {
    position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 4px;
    padding: 2px 5px 6px;
}

.symbb_navi .navbar-toggle .icon-bar+.icon-bar {
    background-color: #EEE;
}

.symbb_navi .navbar-brand a {
    color: #FFF;
}

.symbb_navi .nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.symbb_navi .nav>li>a:hover, .nav>li>a:focus {
    background-color: inherit;
    color: #FFF;
}

.symbb_navi .navbar a{
    color: #CCC;
    font-size: 12px;
}

.symbb_navi .navbar-brand {
    background-color: #428BCA;
    float: left;
    padding: 10px 15px;
    color: #FFF !important;
}

.symbb_navi .navbar-brand a{
    display: block;
    background-color: #428BCA;
    text-shadow: none;
    position: relative;
    color: #FFF !important;
    font-weight: bold;
    height: 40px;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: arial;
}

.symbb_navi .navbar-header .arrow {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #428BCA;
    width: 0;
    height: 0;
    display: block;
    float: left;
}


.symbb_container {
    height: auto;
    min-height: 100%;
    padding: 0 0 0 20px;
    min-width: 960px;
    background-color: #f1f3f9;
    background: -webkit-linear-gradient(top, #fff 0, #f1f3f9 300px);
    background: -moz-linear-gradient(top, #fff 0, #f1f3f9 300px);
    background: -ms-linear-gradient(top, #fff 0, #f1f3f9 300px);
    background: -o-linear-gradient(top, #fff 0, #f1f3f9 300px);
    background: linear-gradient(to bottom, #fff 0, #f1f3f9 300px);
    
}

.symbb_sidebar {
    width: 235px;
    float: left;
    padding: 70px 35px 67px 0;
}

.symbb_body {
    position: relative;
    min-height: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 0 40px 0;
    padding: 60px 20px 10px 20px;
    background: #fff;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.btn {
    float: left;
    margin-right: 10px;
}

.tab-content {
    border: 1px solid #EEE;
    border-top: none;
    padding: 5px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}