{% trans_default_domain "symbb_frontend" %}

<nav class="navbar" role="navigation">
    <ul>
        <li>
            <a href="{{ path('_symbb_index') }}">
                <span class="glyphicon glyphicon-globe"></span>
                <span class="text">{% trans %}Portal{% endtrans %}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('symbb_forum_index') }}">
                <span class="glyphicon glyphicon-th-list"></span>
                <span class="text">{% trans %}Forum{% endtrans %}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('symbb_forum_newest') }}">
                <span class="glyphicon glyphicon-search"></span>
                <span class="text">{% trans %}Newest Posts{% endtrans %}</span>
            </a>
        </li>
    </ul>
</nav>