{% trans_default_domain "symbb_frontend" %}

{% if forum is not defined %}
    {% set forum = null %}
{% endif %} 

<div class="page-header mini">
  {{ 'Newest Posts'|trans() }}
</div>

{% for post in getNewestPost(null) %}

    {{ symbBBForumMacro.createPostCardFull(post, 'post') }}

{% endfor %}
