{% trans_default_domain "symbb_frontend" %}

{% if forum is not defined %}
    {% set forum = null %}
{% endif %} 

<div class="symbb_action_row">
    <div class="title">{{ 'Newest Posts'|trans() }}</div>
    <div class="arrow"></div>
    <div class="clear"></div>
</div>

{% for post in getNewestPost(null) %}

    {{ symbBBForumMacro.createPostCardFull(post, 'post') }}

{% endfor %}
